/venv/
/.idea/
/.idea/SearchImage.iml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea
/venv2
/image/raid_phone/mt/
/core/耕地质量变更调查表.xls
/study_book/耕地质量变更调查表.xls
/study_book/pydata-book-2nd-edition/
/study_book/.ipynb_checkpoints/
/BlogCode/StyleToolCode/Samples/
/BlogCode/DongGe/
